# Core
runpod
Pillow
numpy
--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.3.0
torchvision==0.18.0

# IOPaint dependencies
opencv-python
tqdm
transformers>=4.36.2
diffusers==0.25.1
scipy
matplotlib
omegaconf
pyyaml
huggingface_hub==0.22.2

# Optional / utilities
requests
loguru
pydantic>=2.0
einops
