# Core
runpod
Pillow
numpy
torch==2.3.0
torchvision==0.18.0
--extra-index-url https://download.pytorch.org/whl/cu121

# IOPaint dependencies
opencv-python
tqdm
transformers==4.30.2
diffusers>=0.21.0
scipy
matplotlib
omegaconf
pyyaml
huggingface_hub==0.22.2

# Optional if needed by IOPaint
requests
loguru
pydantic>=2.0
einops
